<div class="event collapsed code-<%= eventCode %> <%= eventClass %>">
	<div class="event-toggle">
		<span class="event-status"></span>
		<span class="event-code"><%= eventCode %></span>
		<span class="event-name"><%= name %></span>
		<span class="glyphicon glyphicon-plus on"></span>
		<span class="glyphicon glyphicon-minus off"></span>
	</div>
	<div class="event-data-container">
	<% if ( eventError ) { %>
		<div class="alert alert-danger">
			<span class="glyphicon glyphicon-exclamation-sign"></span>
			<%= eventError %>
		</div>
	<% } %>
	<% _.each(eventFields, function(data) { %>
		<div class="event-data <%= data.name %> <%= data.className %>">
			<% if ( data.message ) { %>
				<div class="alert alert-danger">
					<span class="glyphicon glyphicon-exclamation-sign"></span>
					<%= data.message %>
				</div>
			<% } %>
			<span class="event-key"><%= data.name %></span>
			<span class="event-value"><%= data.value %></span>
		</div>
	<% }); %>
	</div>
</div>